<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="skateclub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1210.39" newVersion="1.0.1210.39" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1210.39" newVersion="1.0.1210.39" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Properties.Settings>
      <setting name="Playername" serializeAs="String">
        <value>AndrewWilson</value>
      </setting>
      <setting name="DX11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideWatermark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCosmetic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="level" serializeAs="String">
        <value />
      </setting>
      <setting name="DebugRender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoveClothes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExperimentalMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TruckTightness" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Fullscreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipCutscene" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AO" serializeAs="String">
        <value>HBAO</value>
      </setting>
      <setting name="AA" serializeAs="String">
        <value>Smaa1x</value>
      </setting>
      <setting name="ShaderQuality" serializeAs="String">
        <value>Ultra</value>
      </setting>
      <setting name="AOIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AAIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShaderQualityIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </Properties.Settings>
    <skateclub.Properties.Settings>
      <setting name="Playername" serializeAs="String">
        <value>AndrewWilson</value>
      </setting>
      <setting name="DX11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideWatermark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCosmetic" serializeAs="String">
        <value>True</value>
      </setting>
    </skateclub.Properties.Settings>
  </userSettings>
</configuration>